$theme-colors: (
  // gray shades
  "grey-1": #9e9e9e,
  "grey-2": #4f4f4f,
  "grey-3": #333333,
  "grey-4": #828282,
  "grey-5": #f2f2f2,

  // black shade
  "black-1": #090f31,

  // orange shade
  "orange-1": #f7542e,

  // blue shades
  "blue-1": #2962ff,

  // error/ red shade
  "red-1": #d32f2f,

//   side-bar-bg
    "sidebar-bg": #FAFBFD,

    // active-color
    "active-clr": #090F31,
);

@each $themeColour, $value in $theme-colors {
  @if ($themeColour == "blue-1") {
    .text-color-blue {
      color: $value;
    }
  }
}

@each $themeColour, $value in $theme-colors {
  @if ($themeColour == "blue-1") {
    .border-blue {
      border: 1px solid $value;
    }
  }
}

@each $themeColour, $value in $theme-colors {
  @if ($themeColour == "red-1") {
    .text-color-red {
      color: $value;
    }
  }
}

@each $themeColour, $value in $theme-colors {
  @if ($themeColour == "red-1") {
    .border-red {
      border: 1px solid $value;
    }
  }
}

@each $themeColour, $value in $theme-colors {
  .bg-#{$themeColour} {
    background: $value;
  }
}
