@media (min-width: 768px) {
  input,
  .join-btn,
  .hero-text,
  .question-text,
  .nav-link {
    font-size: var(--font-size-18);
  }

  .question-text,
  .hero-text {
    padding-left: 15.4em;
  }

  /* header */
  .header-section {
    padding: 1.63em 2.3em;
    align-items: center;
  }

  .header-title {
    font-size: var(--font-size-36);
  }

  .navbar-toggle {
    display: none;
  }

  nav {
    display: block;
    position: static;
  }

  .nav {
    display: flex;
    gap: 1.4em;
  }

  /* hero section */
  .hero-heading {
    font-size: var(--font-size-48);
    padding-left: 5.77em;
    padding-right: 12.9167em;
  }

  .hero-image {
    border: 1px solid;
    height: 80%;
    padding: 0 3.3em;
  }

  .sub-heading {
    font-size: var(--font-size-48);
    padding-left: 5.77em;
    padding-right: 16.667em;
  }

  .hero-text {
    padding-right: 44.44em;
    width: 100%;
  }

  .join-form {
    padding-left: 17.313em;
  }

  label {
    font-size: var(--font-size-14);
  }

  /* services */
  .services {
    font-size: var(--font-size-36);
    padding-right: 25.833em;
  }

  .padding-left {
    padding-left: 10.313em;
  }

  .row {
    display: flex;
    gap: 4.687em;
    align-items: center;
  }

  .design-section,
  .frontend-section,
  .backend-section {
    margin: 0;
  }

  .col {
    width: 21.313em;
    transition: all 500ms ease-in;
  }

  .row {
    margin: 5.5em 0 0 0;
  }

  .frontend-section {
    box-shadow: none;
  }

  .col:hover {
    border-radius: var(--main-border-radius-24);
    box-shadow: var(--main-box-shadow);
    padding: 3.13em 2.13em;
  }

  /* features */
  .feature-header {
    font-size: var(--font-size-36);
    width: 100%;
    padding-right: 24em;
  }

  .row-1,
  .row-2 {
    display: flex;
    gap: 1.25em;
  }

  .feature-box {
    width: 42%;
    transition: all 500ms ease;
  }

  .feature-box:hover {
    border-radius: var(--main-border-radius-24);
    box-shadow: var(--main-box-shadow);
    padding: 3.13em 2.13em;
  }

  .box-2 {
    transform: translateY(-10rem);
  }

  .box-4 {
    transform: translateY(-10rem);
  }

  .feature-text {
    justify-content: flex-end;
    padding-right: 13.2em;
  }

  .feature-link {
    font-size: var(--font-size-24);
  }

  /* team info */
  .row-team {
    display: flex;
    align-items: center;
  }

  .feature-content {
    padding-right: 12em;
  }

  .team-image-container {
    padding-right: 10em;
  }

  .team-img {
    width: 18.2rem;
  }

  .review {
    font-size: var(--font-size-36);
    padding-right: 10em;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 13em;
    padding: 7em 10.5em;
  }

  .footer-header-nav-links {
    align-self: flex-start;
  }

  .footer .join-form {
    align-self: flex-start;
  }
}
