@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Poppins:wght@500;600&family=Ubuntu+Mono&display=swap");
.text-color-blue {
  color: #2962ff;
}

.border-blue {
  border: 1px solid #2962ff;
}

.text-color-red {
  color: #d32f2f;
}

.border-red {
  border: 1px solid #d32f2f;
}

.bg-grey-1 {
  background: #9e9e9e;
}

.bg-grey-2 {
  background: #4f4f4f;
}

.bg-grey-3 {
  background: #333333;
}

.bg-grey-4 {
  background: #828282;
}

.bg-grey-5 {
  background: #f2f2f2;
}

.bg-black-1 {
  background: #090f31;
}

.bg-orange-1 {
  background: #f7542e;
}

.bg-blue-1 {
  background: #2962ff;
}

.bg-red-1 {
  background: #d32f2f;
}

.bg-sidebar-bg {
  background: #FAFBFD;
}

.bg-active-clr {
  background: #090F31;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

h2,
h4,
li,
ul,
a,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

::-webkit-input-placeholder {
  font-family: "Noto Sans JP";
}

::-moz-placeholder {
  font-family: "Noto Sans JP";
}

:-ms-input-placeholder {
  font-family: "Noto Sans JP";
}

::-ms-input-placeholder {
  font-family: "Noto Sans JP";
}

label,
a,
::placeholder {
  font-family: "Noto Sans JP";
}

label,
p {
  font-size: 0.75rem;
  font-weight: 400;
}

a {
  color: #9e9e9e;
  font-weight: 500;
  text-decoration: none;
}

p {
  font-family: "Ubuntu Mono";
  margin: 0 0 1.333em;
}

label {
  margin: 0 0 0.333em;
}

textarea,
input {
  display: block;
}

textarea {
  resize: none;
  padding: 0.5em 1em;
}

input {
  border: 1px solid #333333;
  padding: 1.2em 0.857em;
  outline: none;
}

::-webkit-input-placeholder {
  color: #828282;
  font-size: 0.875rem;
  font-weight: 500;
}

::-moz-placeholder {
  color: #828282;
  font-size: 0.875rem;
  font-weight: 500;
}

:-ms-input-placeholder {
  color: #828282;
  font-size: 0.875rem;
  font-weight: 500;
}

::-ms-input-placeholder {
  color: #828282;
  font-size: 0.875rem;
  font-weight: 500;
}

::placeholder {
  color: #828282;
  font-size: 0.875rem;
  font-weight: 500;
}

.bg-dark {
  background: #000;
}

.bg-light {
  background: white;
}

input:focus {
  background: #f2f2f2;
  border: 1px solid white;
}

.sidebar {
  background: #FAFBFD;
  padding: 3em 5em 0 3em;
}
.sidebar__title {
  font-family: "Poppins";
  font-size: 0.813rem;
  font-weight: 600;
}
.sidebar__title span {
  color: #f7542e;
}

.nav {
  margin-top: 5em;
}
.nav-item .active {
  color: #090F31;
  font-weight: 700;
}
.nav-item:not(:last-of-type) {
  margin-bottom: 2.2em;
}

input {
  width: 200px;
}

.input-section {
  padding: 1.875em 0 0 5.063em;
}
.input-section__title {
  color: #4f4f4f;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 0 3em;
}

.inner-container {
  width: 45.63rem;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 2.62em;
}
.input-box input {
  border-radius: 0.5rem;
}

.icon-with-input__child-1 {
  position: relative;
  z-index: 2;
}
.icon-with-input__child-1 .img-left {
  position: absolute;
  z-index: 1;
  top: 64%;
  left: 0.5em;
}
.icon-with-input__child-1 input {
  padding-left: 30px;
}

.icon-with-input__child-2 {
  position: relative;
}
.icon-with-input__child-2 .img-right {
  position: absolute;
  right: 4px;
  bottom: 15%;
}

.full-width-input {
  width: 100%;
}

.textarea-box input {
  height: 9.4rem;
}

.text {
  margin: 0.4em 0 0;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 1fr;
  grid-template-columns: 240px 1fr;
}